<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jcristobal.learnUSAstates" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>learnUSAstates</name>
    <description>
        App to learn the different states of United States.
    </description>
    <author email="tobas92@gmail.com" href="https://github.com/JCristobal">
        JCristobal
    </author>
    <content src="index.html" />
    <access origin="*" />

    <icon src="icon.png" />

    <preference name="permissions" value="none"/>
    
</widget>
